/*Sección About*/
.about{
    padding: 30px 0;
    position: relative;
}
.about__container .about__title{
    font-weight: bolder;
    font-size: 32px;
    color: #000;
}
.about__container .about__paragraph{
    font-size: 1rem;
    width: 751px;
    padding: 0.5rem 0;
    color: #000;

}