/*Contacto*/
.formcontato{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formcontato__contacto{
    display: flex;
    height: 550px;
    align-items: flex-end;
    justify-content: space-between;
}
.formcontato--esquerda {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
/*formulario*/
.formcontato__text{
    display: flex;
    flex-direction: column;
    width: 656px;
    height: 100%;
}
.formcontato--esquerda .formcontato__title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.formcontato--esquerda .formcontato__subtext{
    font-size: 22px;
    font-weight: normal;
}
.formcontato__form{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    height: 550px;
}
.formcontato__contacto .formcontato__input{
    height: 56px;
    margin-top: 0.5rem;
    display: block;
    background-color: var(--color-txt);
    border-radius: 5px;
}
.formcontato__input:focus, .formcontato__textarea:focus{
    outline: none;
}
.formcontato__textarea{
    height: 174px;
    background-color: var(--color-txt);
    border-radius: 5px;
    resize: vertical;
}
.formcontato__input, .formcontato__textarea,.formcontato__botao{
    border: none;
}
.formcontato__form .formcontato__botao{
    width: 144px;
    height: 51px;
}