/*Sección Hobbies && skills*/
.skills , .hobbies{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills .skills__title,.hobbies .hobbies__title{
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 0.5rem;
}
.skills__line , .hobbies__line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.skills__box,.hobbies__box{
    width: 176px;
    height: 174px;
    background-color: var(--cor-footer);
    display: flex;
    align-items: flex-end;
}
.skills__box li img{
    width: 40px;
    height: 37px;
}