/*Sección Title*/
.title{
    height: 500px;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 450px;
    justify-content: space-between;
}
.title .title__container{
    height: 246px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}
.title__container .title__bio{
    font-size: 50px;
    font-weight: bold;
}
.title__container .title__subsection{
    font-weight: lighter;
    font-size: 22px;
}
/*div sobre mi*/
.title__container .title__network{
    display: flex;
    justify-content: space-between;
    width: 467px;
    font-weight: 600;
}
.title__container .title__network .title__network__item:hover{
    border-bottom: 1px solid #fff;
}
/*Img*/
.title__div .title__profile{
    width: 368px;
    height: 368px;
    border-radius: 50%;
}